In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('songs_normalize.csv')

In [3]:
#df_sub = df.sample(3000, random_state = 5)

In [5]:
df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,pop
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,"rock, pop"
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,"pop, country"
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,"rock, metal"
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,pop

In [7]:
df_sub= df[['artist', 'song']].copy()

In [8]:
df_sub.head()

           artist                    song
0  Britney Spears  Oops!...I Did It Again
1       blink-182    All The Small Things
2      Faith Hill                 Breathe
3        Bon Jovi            It's My Life
4          *NSYNC             Bye Bye Bye

In [9]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  2000 non-null   object
 1   song    2000 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [10]:
hot = pd.read_csv('../lab-web-scraping-single-page/popular.csv')

In [11]:
hot.head()

       titles              artists
0     Vampire       Olivia Rodrigo
1  Last Night        Morgan Wallen
2    Fast Car           Luke Combs
3   Calm Down  Rema & Selena Gomez
4     Flowers          Miley Cyrus

In [17]:
hot_titles = set(hot.titles)

In [18]:
df_sub_titles = set(df_sub.song)

In [19]:
hot_titles.issubset(df_sub_titles)

False

In [23]:
df_sub['song'].isin(hot['titles']).value_counts()

song
False    1988
True       12
Name: count, dtype: int64

In [24]:
duplicate_songs = df_sub[df_sub['song'].isin(hot['titles'])].copy()

            artist                 song
561    Alicia Keys                Karma
635      Take That             Patience
731   Keyshia Cole           Last Night
739      Take That             Patience
835    Miley Cyrus        See You Again
988    Miley Cyrus  Party In The U.S.A.
1156        Miguel           Sure Thing
1390      Maroon 5             Daylight
1590    Jonas Blue             Fast Car
1682    Jonas Blue             Fast Car
1741  Charlie Puth            Attention
1996  Taylor Swift         Cruel Summer

In [25]:
df_sub = df_sub.rename(columns = {'song':'titles'})

In [26]:
df_sub.head()

           artist                  titles
0  Britney Spears  Oops!...I Did It Again
1       blink-182    All The Small Things
2      Faith Hill                 Breathe
3        Bon Jovi            It's My Life
4          *NSYNC             Bye Bye Bye